[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-ldap-win = {path = "./python_ldap-3.4.0-cp310-cp310-win_amd64.whl", platform_system = "== 'Windows'"}
python-ldap = {version = "*", platform_system = "== 'Linux'"}
python-dotenv = "*"
boto3 = "*"
pillow = "*"
dj-database-url = "*"
psycopg2 = "*"
pyjwt = "*"
requests = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
